body{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#ffffff;
    color: rgb(0, 88, 19);
    text-align: center;
    font-family: monospace;
}
 
button {
    flex-wrap: wrap;
    position:relative;
    background: #004e16;
    color:#eee;
    border: none;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
 
}
 
a {
    text-decoration: none;
    color: rgb(178, 0, 0);
}
 
a:hover {
    color: chartreuse;
}
 
button:hover {
    background:#64002b;
    cursor: grab;
    color: #eee;
    transition: ease .5s;
    text-decoration: underline;
}
 
.start {
    flex-wrap: wrap;
    position:absolute;
    top:140%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#eee;
    background:#098191;
    border-radius: 50px;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
}
 
.timer {
    position: absolute;
    top: 0px;
    left: 0px;
    color:rgb(95, 0, 0);
    font-size: 20px;
}
 
.score {
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgb(0, 124, 89);
    font-size: 20px;
}
 
.textInitials {
    padding: 12px;
}
 
.submitButton {
    flex-wrap: wrap;
    position:relative;
    background:#005f18;
    color:#eee;
    border: none;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
}
.submitButton:hover {
    background:#5b0027;
    cursor: grab;
    color: #eee;
    transition: ease .5s;
   
}
 
#replay {
    text-decoration: none;
}
